<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /prototypes/angular-elements/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /prototypes/angular-elements/index.html [L]
</IfModule>
